arch/all/kernel
arch/all/kernel.git/
arch/arm/toolchain/android/arm-linux-androideabi-*
arch/arm/toolchain/codesourcery/arm-20*
arch/arm/toolchain/linaro/gcc-linaro-arm-linux-gnueabihf-*
arch/arm/toolchain/linaro/bin
arch/arm/toolchain/codesourcery/bin/arm-eabi-ar
arch/arm/toolchain/codesourcery/bin/arm-eabi-as
arch/arm/toolchain/codesourcery/bin/arm-eabi-ld
arch/arm/toolchain/codesourcery/bin/arm-eabi-ranlib
arch/arm/toolchain/codesourcery/bin/arm-eabi-strip
test/cross/bin
toolchain/libcxx
arm-test
arm-test-0.2.tar.gz
build/
build.log
initramfs.img.gz
install/
log
patch.log
.pc
*.pyc
qemu_log
rootfs_custom.img.xz
src/
state/
.*.swp
targets/*/initramfs/
targets/*/kernel-filter
targets/*/log
targets/*/test-results/
targets/*/tmp
tmp
