*-old
*.pyc
.*.swp
.pc
arch/all/kernel
arch/all/kernel.git/
arch/arm/toolchain/android/arm-linux-androideabi-*
arch/arm/toolchain/codesourcery/arm-20*
arch/arm/toolchain/codesourcery/bin/arm-eabi-ar
arch/arm/toolchain/codesourcery/bin/arm-eabi-as
arch/arm/toolchain/codesourcery/bin/arm-eabi-ld
arch/arm/toolchain/codesourcery/bin/arm-eabi-ranlib
arch/arm/toolchain/codesourcery/bin/arm-eabi-strip
arch/arm/toolchain/linaro/bin
arch/arm/toolchain/linaro/gcc-linaro-arm-linux-gnueabihf-*
arm-test
arm-test-0.2.tar.gz
build.log
build/
du.txt
initramfs.img.gz
install/
local.mk
log
old
patch.log
patches.tar.bz2
qemu_log
rootfs_custom.img.xz
series.tmp
src/
state/
targets/*/build
targets/*/initramfs/
targets/*/kernel-filter
targets/*/log
targets/*/patches/.gitignore
targets/*/test-results/
targets/*/tmp
targets/*/tmp-build
test/cross/bin
tmp
tmpfs
toolchain/clang/arm/user-libs/
toolchain/libcxx
foo*
blah*
bar*
