arch/all/kernel
arm-test
arm-test-0.2.tar.gz
build/
build.log
initramfs.img.gz
install/
log
patch.log
*.pyc
qemu_log
rootfs_custom.img.xz
src/
state/
.*.swp
targets/*/kernel-filter
targets/*/log
targets/*/test-results/
targets/*/tmp
tmp
toolchain/arm-20*
