rcupdate-builtin_contant_p.patch
kbuild-clang-arm-odroidxu.patch
fix-unsupported-processor-feature-smc.patch
fix-void-return-value-in-exynos5410_bus_mif.patch
remove-unused-function-gpu-pvr-services4-srvkm-env-linux-mm.c
remove-unknown-option-conserve-stack.patch
fix-self-assignment-variable.patch
remove-module-parameters-from-multiple-files-in-gpu.patch
remove-inline-modifier-in-max98090.patch
